@{
    ViewBag.Title = "FIFA";
}

<div class="jumbotron">
    <h1>Les prochains tournois</h1>
    <p>Liste des tournois pour les 5 prochains jours...</p>
</div>

<div class="row">
    <div class="col-md-4">
       Liste...
    </div>
</div>