@{
    ViewBag.Title = "FIFA";
}

<div class="jumbotron">
    <h1>Les prochains tournois</h1>
    <p>Liste des tournois pour les 5 prochains jours...</p>
</div>

<div class="row">
    <div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-9 col-lg-offset-2 col-md-offset-1">
      <img src="https://www.thesun.co.uk/wp-content/uploads/2017/03/fifa-17-2.jpg?strip=all&w=742&quality=100" class="img-responsive"/>
    </div>
</div>